<html>
<head>
  <meta charset="utf-8">
  <title>Squirrel General Stats</title>
</head>
<body>
  <div id="container"></div>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
	    text: 'Squirrel Activity Status by Shift'
        },
        xAxis: {
	    categories: [
	      {% for i in dataset %}'{{ i.shift }} Class'{% if not forloop.last %}, {% endif %}{% endfor %}
	    ]
        },
        series: [{
	    name: 'Running',
	    data: [
	      {% for i in dataset %}{{ i.running_count }}{% if not forloop.last %}, {% endif %}{% endfor %}
	    ],
        },{
	    name: 'Not running',
	    data: [
	      {% for i in dataset %}{{ i.not_running_count }}{% if not forloop.last %}, {% endif %}{% endfor %}
	    ],
	},{
	    name: 'Chasing',
	    data: [
              {% for i in dataset %}{{ i.chasing_count }}{% if not forloop.last %}, {% endif %}{% endfor %}
            ],
	},{
	    name: 'Not chasing',
	    data: [
	      {% for i in dataset %}{{ i.not_chasing_count }}{% if not forloop.last %}, {% endif %}{% endfor %}      
	    ],
	},{
            name: 'Climbing',
            data: [
	      {% for i in dataset %}{{ i.climbing_count }}{% if not forloop.last %}, {% endif %}{% endfor %}
            ],
        },{
            name: 'Not climbing',
            data: [
	      {% for i in dataset %}{{ i.not_climbing_count }}{% if not forloop.last %}, {% endif %}{% endfor %}
            ],
	},{
            name: 'Eating',
            data: [
	      {% for i in dataset %}{{ i.eating_count }}{% if not forloop.last %}, {% endif %}{% endfor %}
	    ],
	},{
            name: 'Not eating',
            data: [
	      {% for i in dataset %}{{ i.not_eating_count }}{% if not forloop.last %}, {% endif %}{% endfor %}
	    ],
        },{
	    name: 'Foraging',
            data: [
	      {% for i in dataset %}{{ i.foraging_count }}{% if not forloop.last %}, {% endif %}{% endfor %}
	    ],
        },{
            name: 'Not foraging',
	    data: [
	      {% for i in dataset %}{{ i.not_foraging_count }}{% if not forloop.last %}, {% endif %}{% endfor %}
	    ]
	}]
    });
  </script>
</body>
</html>
